sudo: required
language: node_js
node_js:
  - '8.10.0'
cache:
  yarn: true
before_install:
  # upgrade Yarn
  - curl -o- -L https://yarnpkg.com/install.sh | bash -s -- --version 1.17.0
  - export PATH=$HOME/.yarn/bin:$PATH
  - export DIRNAME=$(pwd)
script:
  - yarn test --verbose
after_success:
  - cat ./coverage/lcov.info | coveralls && rm -rf ./coverage
