language: node_js
node_js:
  - "4.4.1"
before_install:
  - npm install -g eslint istanbul coveralls
script:
  - npm test --verbose
after_success:
  - cat ./coverage/lcov.info | coveralls && rm -rf ./coverage
